<!-- <nav class="navbar navbar-expand-lg">
    <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{% url 'home' %}">Crime Reporter</a>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
         <a class="nav-link" href="home.html">Home <span class="sr-only">(current)</span></a> 
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Register</a>
          </li>
         {% endif %} 
        
      </ul>
     </div> 
    </div>
  </nav> -->
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}"><i class="bi bi-bookmark-star"></i>Crime Reporter</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}"><i class="bi bi-house"></i>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'user_view' %}"><i class="bi bi-person-circle"></i>Citizen Portal</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="bi bi-card-text"></i>Report
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'crime_form' %}">Civilian Crime</a>
            <a class="dropdown-item" href="{% url 'cyber_form' %}">Cyber Crime</a>
          </div>
        </li>
        </ul>
        <ul class="nav navbar-nav ml-auto">
        {% if user.is_authenticated %}
        <li class="nav-item ">
          <a class="nav-link " href="{% url 'logout' %}"><i class="bi bi-box-arrow-left"></i>Logout</a>
        </li>
        {% else %}
          <li class="nav-item float-right">
            <a class="nav-link" href="{% url 'login' %}"><i class="bi bi-box-arrow-in-right"></i>Login</a>
          </li>
          <li class="nav-item float-right">
            <a class="nav-link" href="{% url 'register' %}"><i class="bi bi-person-check"></i>Register</a>
          </li>
         {% endif %}
         </ul>
        </ul>
    </div>
  </div>
  </nav>