{% extends 'base.html' %}
{% block style %}
    <style>
        p{
            /* border-bottom: 1px solid rgba(255, 255, 255, 0.3); */
            color : white;
        }
        .report_items{
            background: rgba( 0, 0, 0, 0.15 );
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.20 );
            backdrop-filter: blur( 4px );
            -webkit-backdrop-filter: blur( 4px );
            border-radius: 10px;
            border: 1px solid rgba( 255, 255, 255, 0.18 );
        }
        legend{
            color: white;
            border-bottom: 2px solid;
            border-image: linear-gradient(45deg, rgb(255,255,255), rgba(0,0,0,0)) 1 ;
        }
        .main_box{
            
            width: 200px;
            /* background-color: red; */
            margin: 1% 4% ;
            /* border: 3px solid white; */
            background: rgba( 0, 0, 0, 0.15 );
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.20 );
            backdrop-filter: blur( 4px );
            -webkit-backdrop-filter: blur( 4px );
            border-radius: 10px;
            border: 1px solid rgba( 255, 255, 255, 0.18 ); 
            border-radius: 25px;
            
       }
       h3{
           text-align: center;
           margin-top: 10%;
           font-family: 'IBM Plex Serif', serif;
           color: White;
       }
       legend{
        font-family: 'IBM Plex Serif', serif;
       }
       a{
        font-family: 'Overpass', sans-serif;
        color: white;
       }
       .b_bot{
            border-bottom: 2px solid;
            border-image: linear-gradient(45deg, rgba(255,255,255,0.2), rgba(0,0,0,0)) 1 ;
       }
    </style>
{% endblock style %}
    {% block content %}
        {% include 'navbar.html' %}
        <div class="container">
            <div class="row">
                <div class="col-3 main_item1 main_box"><a href="{% url 'staff_view' %}"><h3> Civilian Reports</h3></a></div>
                <div class="col-3 main_item2 main_box"><a href="#"><h3> Cyber Reports</h3></a></div>
                <div class="col-3 main_item3 main_box"><a href="{% url 'anonymous_staff_view' %}"><h3> Anonymous Reports</h3></a></div>
            </div>
            
            <div class="row report_items p-2">
                <div class="col-12">
                    <legend>Cyber Reports</legend>
                    {% for instance in object_cyber_list %}
                        <div class="row r-item">
                            <div class="col-9">
                                <p class="d-flex justify-content-start b_bot">
                                    <a href="{{ instance.get_absolute_url }}">{{ instance.title }}</a>
                                </p>
                            </div>
                            <div class="col-3">
                                <p class="d-flex justify-content-end">
                                    {{instance.timestamp}}
                                </p>
                            </div>
                        </div>
                    {% endfor%}
                </div>
            </div>
        </div>
        
    {% endblock content%}