{% extends "base.html" %}

{% block style %}
<style>
    body{
         background-color: #141526;
     }
     h2{
         color: skyblue;
     }
     /* li{
         color: #6c757d!important
     } */
     legend{
         color: skyblue;
     }
     label{
         color: white;
     }
     label span{
         color: red;
     }
     
 </style>
{% endblock style %}
{% block content %}
<div class="container report_items p-3">
    <div class="alert alert-info">
        Your password has been reset.
    </div>
    <a href="{% url 'login' %}">Sign In With Your New Password!</a>
</div>
{% endblock %}