{% extends "base.html" %}

{% block style %}
<style>
    body{
         background-color: #141526;
     }
     h2{
         color: skyblue;
     }
     /* li{
         color: #6c757d!important
     } */
     legend{
         color: skyblue;
     }
     label{
         color: white;
     }
     label span{
         color: red;
     }
     .container{
        margin-top: 10%;
    }
 </style>
{% endblock style %}
{% block content %}
<div class="container report_items p-3">
    <div class="alert alert-info">
        An email has been sent with instructions to reset your password.
    </div>
</div>
{% endblock %}
