{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block style %}
<style>
   body{
        background-color: #141526;
    }
    p{
        color: skyblue;
    }
    /* li{
        color: #6c757d!important
    } */
    legend{
        color: skyblue;
    }
    label{
        color: white;
    }
    label span{
        color: red;
    }
    .container{
        margin-top: 10%;
    }
    
</style>
{% endblock style %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <div class="content-section">
                <form  class="report_items p-3" method="POST">{% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4"> <center>Reset Password</center></legend>
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-info" type="submit">Request Password Reset</button>
                    </div>     
                </form> 
            </div>
        </div>
    </div>
</div>
{% endblock %}